body {
  max-width: 1200px;
  width: 80%;
  margin: 30px 50px;
}
.weather_forecast {
  background: #ccc;
}
ul {
  padding-inline-start: 0px;
}
ul li {
  list-style-type: none;
}
#description {
  text-transform: capitalize;
}
.weather_forecast {
  position: relative;
  opacity: 0.99;
  border-radius: 5px;
  border: 1px solid #767676;
  padding: 30px;
}

/* .weather_forecast::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/lisbon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
} */
.form-control {
  border: none;
}
a {
  transition: ease-in-out 1s;
}
a:hover {
  text-decoration: none;
}

.search_city {
  margin: 30px 0;
}
.search_city input,
button {
  margin-bottom: 20px;
}
.current_city {
  color: rgb(0, 0, 0);
  margin: 20px 0;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.footer {
  text-align: center;
}
.footer a {
  font-size: 1rem;
}
